@model List<WebApplication1.Models.Domain.Employee>
   
@{
}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
<h1>List of Employees</h1>

<nav class="navbar navbar-light bg-light">
  <form class="form-inline">
    <button class="btn btn-danger" type="button">Block</button>
    <button class="btn btn-outline-success" type="button"><i class="bi bi-unlock"></i></button>
    <button onclick="DeleteUsers()" class="btn btn-outline-success" type="button"><i class="bi bi-trash"></i></button>
  </form>
</nav>

<table class="table">
  <thead>
    <tr>
      <th scope="col"><input type="checkbox" onClick="check_uncheck_checkbox(this.checked);"/>Select all/Remove selection</th>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Last login time</th>
      <th scope="col">Registration time</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
        @foreach (var employee in Model)
        {
            <tr>
                <td><input type="checkbox" name="employeeId" value="@employee.Id"/></td>
                <td>@employee.Id</td>
                <td>@employee.Name</td>
                <td>@employee.Email</td>
                <td>@employee.LastLoginTime</td>
                <td>@employee.RegisterTime</td>
                <td>@employee.Status</td>
            </tr>    
        }
  </tbody>
</table>

<script src="~/lib/jquery/jquery.min.js"></script>
<script>
    function check_uncheck_checkbox(isChecked) {
	    if(isChecked) {
		    $('input[name="check"]').each(function() { 
			    this.checked = true; 

		    });
	    } else {
		    $('input[name="check"]').each(function() {
			    this.checked = false;
		    });
	    }
    }
</script>

<script>
	function DeleteUsers()
	{
		var idsToAdd = []
		$('input[name="check"]').each(() => {
			if (this.checked)
				idsToAdd.push(this.val())
		})		

		$.post("/DeleteUsers", idsToAdd);
		
	}
</script>


